.slider .list .item .content .title,
.slider .list .item .content .type,
.slider .list .item .content .description,
.slider .list .item .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s linear forwards;
}

.slider {
    height: calc(100vh - 70px);
    /* Adjusted height to accommodate navbar */
    margin-top: 0rem;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
    /* Ensure slider is above navbar */
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 25%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.slider .list .item .type {
    color: #27ae60;
}

.slider .list .item .button {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.slider .list .item .button button {
    border: none;
    background-color: #534e4e;
    font-family: Poppins;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 1px;
    width: 120%;
}

.slider .list .item .button button:hover {
    letter-spacing: 3px;
}

.slider .list .item .button button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}


/* Thumbnail Sec */

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* Arrows Section  */

.nextPrevArrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nextPrevArrows button {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    background-color: #244631cb;
    border: none;
    color: #976e6e56;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.nextPrevArrows button:hover {
    background-color: #ffff;
    color: #000;
}


/* Animation */

.slider .list .item:nth-child(1) {
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1s !important;
}

@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
    }
    .slider .list .item .content .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 678px) {
    .slider {
        height: calc(100vh - 100px);
        /* Adjusted height to accommodate header */
    }
}

.additional-content {
    padding: 50px;
    background-color: rgba(243, 247, 247, 0.918);
    text-align: center;
}

.additional-content h2 {
    margin-top: 0%;
    font-size: 30px;
    color: rgb(54, 37, 75);
}

.additional-content p {
    margin-top: 2%;
    font-size: 16px;
    color: #2c2c2c;
}

.section {
    margin-top: 5%;
    display: flex;
    justify-content: start;
}

.section img {
    max-width: 40%;
    height: auto;
    margin-right: 5%;
}

.section .content {
    max-width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section h2 {
    font-size: 24px;
    color: rgb(54, 37, 75);
    text-align: center;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    color: #272626;
}